<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diabetic Logger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="main_img">
    <img src="../assets/drop.png" width="60"/>

  </div>
  <div class="center">
    <h2>Welcome<ion-col class="text-center" size="7" *ngIf="userProfile?.firstName || userProfile?.lastName">
      {{userProfile?.firstName}}
    </ion-col></h2>
    <ion-item color="tertiary" class="center">
      <ion-label>
        Enter Blood Glucose
      </ion-label>
    </ion-item>
  </div>

  <div class="right">
      <ion-item>
        <ion-label class="value">
            {{value}}
        </ion-label>
      </ion-item>
  </div>
  <div class="myBorder">
  <div *ngFor="let numRows of numbers" class="center-input">
    <ion-button color="tertiary" size="large" *ngFor="let num of numRows" (click)="onButtonPress(num)">{{num}}</ion-button>
  </div>
</div>
</ion-content>