<ion-app>
  <ion-split-pane>
    <ion-menu>
    <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-item routerLink="/profile">
            <ion-icon name="body" slot="start"></ion-icon>
            <ion-label>
              Profile
            </ion-label>
          </ion-item>
          <ion-item> Menu Item</ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>

</ion-app>
