<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Logbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!--   <ion-segment [(ngModel)]="graph_type" color="tertiary">
      <ion-segment-button value="scatter">
        <ion-label>Scatter</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pie">
        <ion-label>Pie Chart</ion-label>
      </ion-segment-button>
    </ion-segment>


  <div [ngSwitch]="graph_type">
    <div *ngSwitchCase="'scatter'">
      <canvas #chartcanvas id="myChart"></canvas>
    </div>
    <div *ngSwitchCase="'pie'"> 
      <canvas #chartcanvas id="myPieChart"></canvas>
    </div>
  </div> -->

  <div class="cen">
    <ion-button color="tertiary" (click)="hide()">Show Scatter</ion-button>
    <ion-button color="tertiary" (click)="unhide()">Show Pie Chart</ion-button>
  </div>

  <div [hidden]="scatterHidden">
    <canvas #chartcanvas id="myChart"></canvas>
  </div>
  <div [hidden]="pieHidden">
    <canvas #chartcanvasPie id="myPieChart"></canvas>
  </div>



  <div class="otherCenter">
    <ion-button  (click)="checkMapGot()" color="tertiary">Graph Values</ion-button>
  </div>

  <ion-grid>
    <ion-row class="center">
      <ion-col size = "6">
        <b>Date</b>
      </ion-col>
      <ion-col size = "6">
        <b>Glucose</b>
      </ion-col>
    </ion-row>
  <ion-row class="cen" *ngFor="let recipient of glucoseValues | keyvalue">
    <div class="center" *ngIf="recipient?.key || recipient?.value">
        <ion-col size = "6"><div class="left">{{recipient.key | slice:0:21 }}</div></ion-col>
        <ion-col size = "6"><div class="glucose">{{recipient.value}},</div></ion-col>
        <ion-col size = "6" [ngClass]="{
          'high' : glucoseHighLow.get(recipient.key) === 'High',
          'low' : glucoseHighLow.get(recipient.key) === 'Low',
          'inRange' : glucoseHighLow.get(recipient.key) === 'In Range'
        }">{{glucoseHighLow.get(recipient.key)}}</ion-col>
    </div>
  </ion-row>
  </ion-grid>
  <br><br><br><br>
  <div class="otherCenter">
    <ion-button color="tertiary" size="small" (click)="clearLocalStorage()">Clear Local Storage</ion-button>
  </div>

</ion-content>
